/* Background + layout */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #d8b4f8, #c084fc);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}




/* Main container */
.container {
  background: rgba(78, 44, 68, 0.862);
  backdrop-filter: blur(10px);
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  width: 95%;
  max-width: 1000px;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
}





/* Title */
h1 {
  font-size: 42px;
  margin-bottom: 30px;
}




/* Buttons layout */
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}




/* Buttons style */
.buttons button {
  flex: 1;
  font-size: 22px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease;
}


/* rock */

button[data-choice="rock"] {
  background: linear-gradient(145deg, #9e9e9e, #757575);
}

/*paper*/
button[data-choice="paper"] {
  background: linear-gradient(145deg, #64b5f6, #42a5f5 );
}

/* scissor*/
button[data-choice="scissors"] {
  background: linear-gradient(145deg, #f06292, #ec407a);
}


/* Hover + click animation */
.buttons button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.buttons button:active {
  transform: scale(0.9);
}





/* Result section */
.result {
  margin-top: 30px;
  animation: fadeIn 0.5s ease;
}

.result p {
  font-size: 20px;
}

#result-text {
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}





/* Score */
.score {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 20px;
}




/* Reset button */
#reset {
  margin-top: 25px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #ff5252;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

#reset:hover {
  background: #e04848;
}




/* Win / Lose / Tie colors */
.win {
  color: #4caf50;
  animation: pop 0.3s ease;
}

.lose {
  color: #ff5252;
  animation: pop 0.3s ease;
}

.tie {
  color: #ffc107;
}





/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}